nav {
    text-align: center;
}

nav ul {
    display: block;
    list-style-type: none;
    margin: auto auto;
    padding: 0px 14px 0px 14px;
    overflow: hidden;
    background-color: #e70012;
    text-align: center;
}

nav li {
    float: left;
    text-align: center;
}

nav img {
    width: 125px;
    padding: 0%;
    text-align: center;
}

nav li a {
    display: inline-block;
    text-align: center;
    color: white;
    font-family: "Helvetica";
    font-weight: bold;
    text-align: center;
    padding: 14px 40px ;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #FFFFFF;
    color: #e700