main {
    margin: 5% 15%;
    font-family: "Helvetica";
    color: #6a6a6a;
    
}

td img {
    display: inline;
    width: 300px;
    height: 190px;
    
}

td {
    padding: 0px;
    height: 300px;
    width: 600px;
    text-align: center;
}

p {
    padding: 0px 100px;
}

h2 {
    text-align: center;
}

hr {
    color: #e70012;
    height: 5px;
    background-color: #e70012;
}
