main {
    margin: 5% 15%;
    font-family: "Helvetica";
    color: #6a6a6a;
    padding-bottom: 60px;
}

h1 {
    text-align: center;
}

hr {
    height: 5px;
    color: #e70012;
    background-color: #e70012;
}

form {
    display: inline;
}

.required {
    font-style: italic;
    color: #b1b1b1;
}

main>p::first-letter {
    color: #e70012;
    font-weight: bold;
    font-size: 150%; 
}

img {
    display: inline;
    float: right;
    width: 400px;
    padding-right: 15%;
    padding-top: 10%;
}

footer {
    display: block;
    background-color: #e70012;
    text-align: center;
    bottom: 0;
    height: 120px;
    width: 100%;
    padding-top: 30px;
    font-family: "Helvetica";
    color: #ffffff;
}

footer a {
    color: #ffffff;
}