main {
    margin: 5% 15%;
    font-family: "Helvetica";
    color: #6a6a6a;
}

hr {
    height: 5px;
    color: #e70012;
    background-color: #e70012;
}

form {
    display: inline;
}

.required {
    font-style: italic;
    color: #b1b1b1;
}

main>p::first-letter {
    color: #e70012;
    font-weight: bold;
    font-size: 150%; 
}

img {
    display: inline;
}