main {
    margin: 5% 15%;
    font-family: "Helvetica";
    color: #6a6a6a;
}
h2 {
    text-align: center;
}

hr {
    height: 5px;
    color: #e70012;
    background-color: #e70012;
}

article {
    display: block;
    text-align: center;
    margin: auto;
}
